<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--MAIL SETTINGS-->
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="CaricoAddress" value="o.martinas@software-dep.net"/>
    <add key="PostAddress" value ="o.martinas@software-dep.net"/>
    <add key="ServerPort" value="587"/>
    <add key="ServerSecurity" value="true"/>
    <add key="SenderAddress" value="o.martinas@software-dep.net"/>
    <add key="SenderPassword" value="superoctav"/>


    <!--GENERAL SETTINGS-->
    <add key ="Day" value="Giovedi"/>
    <add key ="Hours" value ="15"/>
    <add key ="Minutes" value="6"/>
    <add key ="LogPath" value="D:\AutomatizzazioneInserimentoNoteGeisp\log\"/>

    <!--SQL SETTINGS-->
    <add key="SQLServer" value="192.168.0.236"/>
    <add key="SQLUser" value="ionel"/>
    <add key="SQLPassword" value="ionel!!"/>
    <add key="TrustedConnection" value ="false"/>

  </appSettings>
</configuration>